/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Remove the gray background on active links in IE 10.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}


a {
  background-color: transparent;
}

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;

  font-family: arial, "Microsoft Yahei", "微软雅黑", 'simSun';
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  list-style-type: none;
}

img {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  outline: none;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

.g-clear:after {
  content: '';
  display: table;
  clear: both;
}

.g-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}